*.o
*.a
*.so
*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in
config.h
config.log
config.status
configure
aclocal.m4
autom4te.cache/
src/wget
src/version.c
doc/wget.info
doc/wget.1
po/*.gmo
gnulib_po/*.gmo
stamp-h1
.dirstamp
1GB.bin
